<nav id="nav" class="navbar navbar-default"></nav>
<main class="full-height row">
  <aside id="sidebar" class="col-xs-2"></aside>
  <div id="content" class="container col-xs-10"></div>
</main>
<footer id="footer-bar" class="navbar navbar-default navbar-fixed-bottom"></footer>

<script>
  window.CURRENT_USERID = "<%= current_user.id %>"
  window.CURRENT_USERNAME = "<%= current_user.username %>"
  $(document).ready(function(){
    BookBlur.initialize();
  });
</script>
