<b> <%= book.get('title') %></b> <i class="small">by <%= book.get('author') %></i>
<% if (removable) { %>
  <button class="btn-xs btn-danger remove-book" data-id="<%= book.id %>">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
<% } %>
