<label for="search-field" class="glyphicon glyphicon-search"></label>
<input
  id="search-field"
  class="form-control"
  type="text"
  name="search"
  placeholder="Search by title"
>

<div class="list-group search-results"></div>
