<div id="prev-page" class="col-xs-1 btn btn-default page-buttons">
  <div class="v-centered"><span class="glyphicon glyphicon-chevron-left page-icons"></span></div>
</div>
<div id="book-container" class="col-xs-10 container"></div>
<div id="next-page" class="col-xs-1 btn btn-default page-buttons">
  <div class="v-centered"><span class="glyphicon glyphicon-chevron-right page-icons"></span></div>
</div>
