<div id="prev-page" class="col-xs-1 btn btn-default page-buttons">
  <div class="v-centered"><span class="glyphicon glyphicon-chevron-left page-icons"></span></div>
</div>
<div id="book-container" class="col-xs-10 container">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
<div id="next-page" class="col-xs-1 btn btn-default page-buttons">
  <div class="v-centered"><span class="glyphicon glyphicon-chevron-right page-icons"></span></div>
</div>
