<div id="prev-page" class="col-xs-1 btn btn-default page-buttons">
  <div class="glyphicon glyphicon-chevron-left v-centered"></div>
</div>
<div id="bookmarks" class="col-xs-1">bookmarks</div>
<div id="book-container" class="col-xs-9"></div>
<div id="next-page" class="col-xs-1 btn btn-default page-buttons">
  <div class="glyphicon glyphicon-chevron-right v-centered"></div>
</div>
