<main class="container">
  <div class="row sign-in col-centered">

    <div class="col-xs-4 col-centered">
      <h1>Sign In</h1>

      <form action="<%= session_url %>" method="post">

        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>"
        >

        <div class="form-group">
          <label for="email-field">Email</label>
          <input
            type="email"
            id="email-field"
            class="form-control"
            name="user[email]"
            value=""
          >
        </div>

        <div class="form-group">
          <label for="password-field">Password</label>
          <input
            type="password"
            id="password-field"
            class="form-control"
            name="user[password]"
            value=""
          >
        </div>

        <input type="submit" class="btn btn-primary" value="Sign In">
      </form>
    </div>

  </div>
</main>
