<main class="container sign-in">
  <div class="row">

    <div class="col-xs-4 col-centered">
      <h1 class="text-white">Sign In</h1>

      <form action="<%= session_url %>" method="post">

        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>"
        >

        <div class="form-group">
          <label for="email-field" class="text-white">Email</label>
          <input
            type="email"
            id="email-field"
            class="form-control"
            name="user[email]"
            value=""
          >
        </div>

        <div class="form-group">
          <label for="password-field" class="text-white">Password</label>
          <input
            type="password"
            id="password-field"
            class="form-control"
            name="user[password]"
            value=""
          >
        </div>

        <input type="submit" class="btn btn-primary" value="Sign In">
      </form>

      <br>
      <label class="text-white">New to BookBlur?</label><br>
      <a href="<%= new_user_url %>"><button class="btn btn-success">Create User</button></a>
    </div>

  </div>
</main>
