<div class="m-backdrop"></div>

<div class="m-content">
  <button
    type="button"
    class="close"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>

  <form class="mark-form">
    <div class="form-group">
      <h4>Bookmark <small> at Location <%= mark.escape('location') %></small></h4>
      <textarea
        id="body-field"
        name="mark[body]"
        class="form-control"
        rows="5"
        cols="30"
        placeholder="Attach note to bookmark"
      ><%= mark.escape('body') %></textarea>
      <br>

      <input
        type="submit"
        class="btn btn-primary pull save-mark"
        value="Save"
      >

      <input type="hidden" name="mark[id]" value="<%= mark.id %>">
    </div>
  </form>
</div>
