<div class="m-backdrop"></div>

<div class="m-content">
  <button
    type="button"
    class="close"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>

  <form class="comment-form">
    <div class="form-group">
      <h4>Comment</h4>
      <textarea
        id="body-field"
        name="comment[body]"
        class="form-control"
        rows="5"
        cols="30"
        placeholder="Comment on this book"
      ></textarea>
      <br>

      <input
        type="submit"
        class="btn btn-primary save-comment"
        value="Comment"
      >

    </div>
  </form>
</div>
