<nav id="nav" class="navbar navbar-default"></nav>
<div class="row">
  <aside id="sidebar" class="col-xs-2"></aside>

  <main class="container col-xs-10">
      <div id="content"></div>
  </main>
</div>

<script>
  window.CURRENT_USERID = "<%= current_user.id %>"
  window.CURRENT_USERNAME = "<%= current_user.username %>"
  $(document).ready(function(){
    BookBlur.initialize();
  });
</script>
