<main class="container">
  <a href="#"><%= image_tag("logo.png", width: "200", alt: "bookblur-logo") %></a>
  <a href="#search">Search</a>
  <div id="content"></div>
</main>

<script>
  $(document).ready(function(){
    BookBlur.initialize();
  });
</script>
