<nav id="nav" class="navbar navbar-default"></nav>
<main class="container">
  <div id="content"></div>
</main>

<script>
  window.CURRENT_USERNAME = "<%= current_user.username %>"
  $(document).ready(function(){
    BookBlur.initialize();
  });
</script>
