/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.text-white {
  color: white;
}

aside#sidebar {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 90vh;
  padding-left: 25px;
}

div#new-list-books-container {
  border: 1px solid #ccc;
  height: 200px;
  overflow-y: scroll;
}

#new-form-search {
  padding-left: 20px;
  margin-top: 55px;
  border-left: 1px solid #ccc;
  min-height: 80vh;
}

.expand-list {
  position: absolute;
  right: 3px;
  top: 9px;}

.collapse-list {
  position: absolute;
  right: 3px;
  top: 9px;}

.remove-book {
  position: absolute;
  right: 3px;
  top: 3px;
}

.add-book-btn {
  margin-right: 20px;
}

nav#nav {
  margin-bottom: 0;
}

p.list-desc {
  font-size: smaller;
}

p.list-title {
  font-weight: 500;
  margin-right: 18px;
}

.panel-heading {
  position: relative;
}

.book-card:hover {
  cursor: pointer;
  background-color: rgb(186, 186, 186);
}
