/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 html, body {
   max-width: 100%;
   overflow-x: hidden;
 }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.text-white {
  color: white;
}

main.full-height {
  height: calc(100vh - 100px);
}

aside#sidebar {
  border: 1px solid #ccc;
  border-top: none;
  padding-left: 25px;
  padding-top: 20px;
  height: inherit;
  overflow-y: scroll;
}

div#content {
  padding-top: 10px;
  padding-right: 2pc;
}

footer#footer-bar {
  min-height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #F8F8F8;
}

div#inner-footer {
  margin-left: 18.66666666667%;
  padding: 0 30%;
}

button#expand-social {
  width: 30%;
  margin: 0 30% 0 30%;
}

button#collapse-social {
  width: 30%;
  margin: 0 30% 0 30%;
}

div.social-container {
  position: absolute;
  top: -15.6pc;
  right: 0;
  left: 16.66666666667%;
  height: 500%;
  background-color: darkgrey;
}

a#bookmarks-social-tab {
  border: 1px solid #ccc;
  border-bottom: none;
}

a#comments-social-tab {
  border: 1px solid #ccc;
  border-bottom: none;
}

div.tabbed-content {
  overflow: scroll;
  height: 12pc;
}

div#list-form-books-container {
  border: 1px solid #ccc;
  height: 200px;
  overflow-y: scroll;
}

#new-form-search {
  padding-left: 20px;
  margin-top: 55px;
  border-left: 1px solid #ccc;
  min-height: 80vh;
}


.collapse-list {
  position: absolute;
  right: 3px;
  bottom: 9px;}

.remove-book {
  position: absolute;
  right: 3px;
  top: 3px;
}

.add-book-btn {
  margin-right: 20px;
}

nav#nav {
  margin-bottom: 0;
}

p.list-desc {
  font-size: smaller;
}

p.list-title {
  font-weight: 500;
  margin-right: 18px;
}

.list-header {
  position: relative;
  min-height: 5pc;
}

.expand-list {
  position: absolute;
  right: 3px;
  bottom: 9px;
}

.edit-list {
  position: absolute;
  right: 3px;
  top: 9px;
}

.book-card:hover {
  cursor: pointer;
  background-color: rgb(186, 186, 186);
}

.selected {
  cursor: default;
  background-color: rgb(186, 186, 186);
}

.navbar-search div.search-results {
  position: absolute;
  z-index: 2;
}

.login-options {
  text-align: center;
}

.v-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.m-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1031;
}

div.m-content {
  background-color: white;
  position: absolute;
  padding: 10px 20px;
  top: 25%;
  bottom: 0;
  left: 25%;
  z-index: 1032;
  height: 245px;
  width: 50%;
  border-radius: 5px;
}
