#book-container {
  max-height: 85vh;
  overflow-y: hidden;
  padding: 10px 25px 0 25px;
}

div.page-buttons {
  bottom: 0;
  opacity: 0.5;
  height: 85vh;
  border: none;
}

span.page-icons {
  font-size: 2em;
}

div.bookmark-col {
  padding-top: 1pc;
}

span.bookmark {
  font-size: 2em;
}

span.bookmark:hover {
  color: gold;
}

button.grey {
  background-color: grey;
}
