footer#footer-bar button {
  background-color: rgb(129, 158, 179);
  position: absolute;
}

div#inner-footer {
  margin-left: 15.9%;
}

button#expand-social {
  width: 100%;
}

button#collapse-social {
  width: 100%;
}

div.social-container {
  position: absolute;
  top: -18.75pc;
  right: 0;
  left: 16.66666666667%;
  height: 500%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #F7F7F7;
}

a#bookmarks-social-tab {
  border: 1px solid #ccc;
  border-bottom: none;
}

a#comments-social-tab {
  border: 1px solid #ccc;
  border-bottom: none;
}

div.tabbed-content {
  overflow: scroll;
  height: 14pc;
}

button#post-comment {
  margin-left: 5pc;
}

button#toggle-night-mode {
  margin-left: 35%;
}
