p.list-desc {
  font-size: smaller;
  word-wrap: break-word;
}

p.list-title {
  font-weight: 500;
  margin-right: 18px;
  word-wrap: break-word;
}

div.list-header {
  position: relative;
  min-height: 5pc;
}

button.expand-list {
  position: absolute;
  right: 3px;
  bottom: 9px;
}

button.expand-list:disabled {
  display: none;
}

button.collapse-list {
  position: absolute;
  right: 3px;
  bottom: 9px;
}

button.expand-list:disabled {
  display: none;
}

button.edit-list {
  position: absolute;
  right: 3px;
  top: 9px;
}

div#list-form-books-container {
  border: 7px solid #ccc;
  height: 200px;
  overflow-y: scroll;
}

li.book-card:hover {
  cursor: pointer;
  background-color: rgb(186, 186, 186);
}

li.selected {
  cursor: default;
  background-color: rgb(186, 186, 186);
}
