body.night-mode {
  background-color: black;
  color: white;
}

body.night-mode .panel-default > .panel-heading {
  background-color: rgb(94, 91, 91);
  color: white;
}

body.night-mode .panel-body {
  background-color: grey;
  color: white;
}

body.night-mode li.book-card {
  background-color: grey;
  color: white;
}

body.night-mode li.book-card.selected {
  background-color: black;
  color: white;
}

body.night-mode li.book-card:hover {
  background-color: black;
  color: white;
}

body.night-mode div.social-container {
  background-color: black;
  color: white;
}

body.night-mode li.comment-card {
  background-color: grey;
  color: white;
}

body.night-mode li.comment-card:hover {
  background-color: black;
  color: white;
}
