// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main.create-user {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('library2.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

form.new-user {
  // background-color: #B2B2B2;
}
