<button id="expand-social" class="btn btn-default page-buttons">
  <span class="glyphicon glyphicon-menu-up"></span>
</button>

<button id="toggle-bookmark" class="btn btn-default">
  <span class="glyphicon glyphicon-bookmark">&plus;</span>
</button>
