<div class="col-xs-4 col-xs-offset-4">
  <button id="expand-social" title="Show Book Info" class="btn btn-default toggle-view">
    <span class="glyphicon glyphicon-menu-up"></span>
  </button>
</div>

<div class="col-xs-3 col-xs-offset-1">
  <button id="toggle-bookmark" title="Create a New Bookmark" class="btn btn-default">
    <span class="glyphicon glyphicon-bookmark">&plus;</span>
  </button>

  <button id="post-comment" title="Post a Comment on a Book" class="btn btn-default">
    <span class="glyphicon glyphicon-comment">&plus;</span>
  </button>
</div>
