<ul class="nav nav-pills nav-justified">
  <li role="presentation"><a id="bookmarks-social-tab" href="#">Bookmarks</a></li>
  <li role="presentation"><a id="comments-social-tab" href="#">Comments</a></li>
</ul>
