<div class="row">
  <article class="col-xs-6">
    <h3><%= list.isNew() ? 'New List' : 'Edit List' %></h3>

    <form id="list-form">
      <div class="form-group">
        <label for="list-form-title">Title</label><br>
        <input
          id="list-form-title"
          class="form-control"
          type="text"
          name="list[title]"
          value="<%= list.escape('title') %>"
        >
      </div>

      <div class="form-group">
        <label for="list-form-description">Description</label><br>
        <textarea
          id="list-form-description"
          class="form-control"
          name="list[description]"
          rows="5"
        ><%= list.escape('description') %></textarea>
      </div>

      <div class="form-group">
        <label for="list-form-books">Books:</label>
        <div id="list-form-books-container" class="form-control">
          <ul id="list-form-books" class="list-group"></ul>
        </div>
      </div>

      <input
        class="btn btn-primary"
        type="submit"
        value="<%= list.isNew() ? 'Create' : 'Update' %>"
      >
    </form>
  </article>

  <aside id="new-form-search" class="col-xs-6"></aside>
</div>
