<div class="panel-heading">
  <%= list.escape('title') %>
  <button class="btn-xs btn-info expand-list">></button>
</div>

<div class="panel-body">
  <% if (list.escape('description') === "") { %>
    <i>No description</i>
  <% } else { %>
    <p><%= list.escape('description') %></p>
  <% } %>
</div>
  <ul class="list-group books-list"></ul>
