<div class="panel-heading">
  <p class="list-title"><%= list.escape('title') %></p>
  <button class="btn-xs btn-info expand-list glyphicon glyphicon-menu-right"></button>
</div>

<% if (list.escape('description') !== "") { %>
  <div class="panel-body">
    <p class="list-desc"><%= list.escape('description') %></p>
  <% } %>
</div>

<ul class="list-group books-list"></ul>
