<div class="row">
  <h2>New List</h2>
  <article class="col-xs-6">
    LIST FORM HERE
  </article>

  <aside class="col-xs-6 search-container">
    <label for="search-field">Search for Book: </label>
    <input class="form-control" type="text" name="search">

    <div class="list-group search-results"></div>
  </aside>
</div>
